{% extends 'base-account.html' %}
{% load static %}

{% block title %}Login {% endblock %}

{% block content %}
{% load django_bootstrap5 %}
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        
        {% bootstrap_form form %}

        {% if error %}
            <span style="color: red;">{{ error }}</span>
            <br><br>
        {% endif %}
        
        <input class="btn btn-primary" type="submit" value="Entrar" id="submit-form"/>
    </form>
    <a href="{% url 'signup' %}">cadastre-se</a>
{% endblock %}

{% block js %}
    <script src="{% static 'js/accounts/login.js' %}"></script>    
{% endblock %}
