{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Document{% endblock %}</title>
    
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/fonts-googleapis/css.css' %}">
    <link rel="stylesheet" href="{% static 'css/MDB/mdb.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    

<header>
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
        <div class="position-sticky">
            <div class="list-group list-group-flush mx-3 mt-4">
                <a href="#" class="list-group-item list-group-item-action py-2 ripple active menu-bar-button">
                    <i class="fas fa-chart-area fa-fw me-3"></i><span>Dashboard</span>
                </a>
            </div>
        </div>
    </nav>

    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top background_nav">
      <div class="container-fluid">
        <button data-mdb-button-init class="navbar-toggler" type="button" data-mdb-collapse-init data-mdb-target="#sidebarMenu"
          aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
  
        <a class="navbar-brand" href="#">
          <img src="{% static 'img/icons/periscope.png' %}" height="25" alt="Logo"
          loading="lazy" />

          <p>GeoStartDashboard</p>
        </a>

        <ul class="navbar-nav ms-auto d-flex flex-row">
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="https://github.com/HelderMenegatti/GeoStatDashboard">
              <i class="fab fa-github"></i>
            </a>
          </li>

          <li class="nav-item dropdown">
            <a data-mdb-dropdown-init class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center" href="#"
              id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img (31).webp" class="rounded-circle"
                height="22" alt="Avatar" loading="lazy" />
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
              <li>
                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <main class="margin-top1" style="margin-top: 100px;">
    <div class="container pt-4">
      
      {% block content %}

      {% endblock %}
  
    </div>
  </main>


  <script src="{% static 'js/jquery/jquery-3.5.1.slim.min.js' %}"></script>
  <script src="{% static 'js/popper/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/MDB/mdb.umd.min.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <script src="{% static 'js/base/base.js' %}"></script>

  {% block js %}
  
  {% endblock %}

</body>
</html>